.widgetdiv .linechart .line{
    stroke-width:2;
}

.annotation-AwaySum{
    background:red;
    stroke: red;
    fill:red;
    stroke-dasharray: 4;
}

.tag-linechart .annotation-HomeSum{
    background: green;
    stroke: green;
    fill: green;
}

.tag-barchart[data-widget\.uri="HomeSum"] .annotation-HomeSum{
    background: blue;
    stroke: blue;
    fill: blue;
}
