.annotation-red {
	background-color: lightcoral;
}

.annotation-yellow {
	background-color: yellow;
}

.annotation-grey {
	background-color: lightgrey;
}

.annotation-orange {
	background-color: #ffcc66;
}

.annotation-green {
	background-color: #e8f09e;
}

.annotation-blue {
	background-color: #ccffff;
}


