.bar.job.annotation-Ord1 {
	fill: rgb(121,121,217);
}

.bar.job.annotation-Ord2 {
	fill: rgb(253,235,125);
}

.bar.job.annotation-Ord3 {
	fill: rgb(216,243,254);
}

.bar.job.annotation-Ord4 {
	fill: rgb(124,236,124);
}

.bar.job.annotation-Ord5 {
	fill: rgb(179,181,183);
}

.bar.job.annotation-Ord6 {
	fill: rgb(17,119,187);
}