.aimms-widget [data-widget\.uri=ganttDemo] .bar.annotation-manualJob {
	stroke-width: 4px ;
	stroke:blue ;
}

.aimms-widget [data-widget\.uri=ganttDemo] .bar.annotation-freeJob {
	stroke-width: 4px ;
	stroke:green ;
}
 
