.widgetdiv .aimms-widget[data-widget\.uri=Home_Linechart_SomeDat] .annotation-sbc-color1 {
   stroke: #8dd3c7 !important;
   fill: #8dd3c7 !important;
}

.widgetdiv .aimms-widget[data-widget\.uri=Home_Linechart_SomeDat] .annotation-sbc-color2 {
   stroke: #ffffb3 !important;
   fill: #ffffb3 !important;
}

.widgetdiv .aimms-widget[data-widget\.uri=Home_Linechart_SomeDat] .annotation-sbc-color3 {
   stroke: #bebada !important;
   fill: #bebada !important;
}

.widgetdiv .aimms-widget[data-widget\.uri=Home_Linechart_SomeDat] .annotation-sbc-color4 {
   stroke: #fb8072 !important;
   fill: #fb8072 !important;
}

.widgetdiv .aimms-widget[data-widget\.uri=Home_Linechart_SomeDat] .annotation-sbc-color5 {
   stroke: #80b1d3 !important;
   fill: #80b1d3 !important;
}

.widgetdiv .aimms-widget[data-widget\.uri=Home_Linechart_SomeDat] .annotation-sbc-color6 {
   stroke: #fdb462 !important;
   fill: #fdb462 !important;
}

.widgetdiv .aimms-widget[data-widget\.uri=Home_Linechart_SomeDat] .annotation-sbc-color7 {
   stroke: #b3de69 !important;
   fill: #b3de69 !important;
}

.widgetdiv .aimms-widget[data-widget\.uri=Home_Linechart_SomeDat] .annotation-sbc-color8 {
   stroke: #fccde5 !important;
   fill: #fccde5 !important;
}

.widgetdiv .aimms-widget[data-widget\.uri=Home_Linechart_SomeDat] .annotation-sbc-color9 {
   stroke: #d9d9d9 !important;
   fill: #d9d9d9 !important;
}

.widgetdiv .aimms-widget[data-widget\.uri=Home_Linechart_SomeDat] .annotation-sbc-color10 {
   stroke: #bc80bd !important;
   fill: #bc80bd !important;
}

.widgetdiv .aimms-widget[data-widget\.uri=Home_Linechart_SomeDat] .annotation-sbc-color11 {
   stroke: #ccebc5 !important;
   fill: #ccebc5 !important;
}

