*.log
*.lis
*.err
*.bak
*.dmp
*.dmp
Musterlösung
_build
Resources/Other/CompoundSets/Downloads/DeprecateCompoundSets/IdentifiersWithShadows.txt
Resources/Other/CompoundSets/Downloads/DeprecateCompoundSets/forward/example.data
Resources/Other/CompoundSets/Downloads/DeprecateCompoundSets/msd.ams
Resources/Other/CompoundSets/Downloads/DeprecateCompoundSets/smd.ams
Resources/Other/CompoundSets/Downloads/DeprecateCompoundSets/sDataIdentifiers.txt
Resources/Other/CompoundSets/Downloads/DeprecateCompoundSets/secundary.txt
