*.aimmspack
*.aimmslockfile
*.bak
*.err
*.exp
*.dmp
*.ilk
*.ipch
*.log
*.lis
*.pdb
*.put
*.pyc
*.sdf
*.suo
*.errorLogging
*.err.txt
pro*.txt
scratch*.txt
Musterlösung
_build
backup
shadowData
atomicData
Resources/Other/CompoundSets/Downloads/DeprecateCompoundSets/IdentifiersWithShadows.txt
Resources/Other/CompoundSets/Downloads/DeprecateCompoundSets/forward/example.data
Resources/Other/CompoundSets/Downloads/DeprecateCompoundSets/msd.ams
Resources/Other/CompoundSets/Downloads/DeprecateCompoundSets/smd.ams
Resources/Other/CompoundSets/Downloads/DeprecateCompoundSets/sDataIdentifiers.txt
Resources/Other/CompoundSets/Downloads/DeprecateCompoundSets/secundary.txt
.vscode
/WebSite_Redirection_Mapping/redirection_map_full.txt
.vs
_pycache_
