stages:
  - test
  - build
  - deploy

before_script:
  - sudo apt-get install software-properties-common -y
  - sudo add-apt-repository ppa:deadsnakes/ppa -y
  - sudo apt-get update -y
  - sudo apt-get install python3.8 python3.8-dev python3.8-venv python3-pip python3-venv python-enchant -y
  - python3.8 -mvenv ../myenv
  - source ../myenv/bin/activate
  - python3.8 -mpip install --upgrade  pip
  - python3.8 -mpip install -U sphinx sphinx-aimms-theme sphinx-sitemap sphinx-last-updated-by-git sphinxcontrib-bibtex sphinxcontrib-spelling

linkcheck:
  stage: test
  script:
  - python3 -msphinx -W -b linkcheck . _build/linkcheck
  allow_failure: true
  tags: 
    - ubuntu

spellcheck:
  stage: test
  script:
  - python3 -msphinx -W -b spelling . _build/spelling
  allow_failure: true
  tags: 
    - ubuntu

build:
  stage: build
  script:
    - sphinx-build -M html . _build 
  tags: 
    - ubuntu

deploy:
  stage: deploy
  script:
    - rsync -rt _build/html/ support@data.aimms.com:/home/aimms/www/how-to.aimms.com
  tags: 
    - ubuntu
  only:
    - master
