.aimms-widget [data-widget\.uri=ganttDemo] .bar.annotation-manualJob {
	stroke-width: 4px ;
	stroke: #004bff ; /* Should be the blue indicating that it can be directly changed by the end user. */
}

.aimms-widget [data-widget\.uri=ganttDemo] .bar.annotation-freeJob {
	stroke-width: 4px ;
	stroke:black ;
}
 
