/*
 * CSS hacks and small modification for my Sphinx website
 * :copyright: Copyright 2013-2016 Lilian Besson
 * :license: GPLv3, see LICENSE for details.
 */

 
/*----------------   Side Bar adjustments ------------------------*/

/* makes concise tree (line height) */
li.toctree-l2 span.link-wrapper a.reference.internal { 
    
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 1.3em;   
}

/* thin line btw Side Bar and content */

header.mdl-layout__drawer {
    
    padding-right: 5px;
}

/* Logo centered and rescaled */

a.title img.logo {
    
    margin: auto !important;
    max-width: 75%;
    display: block;
}

span.mdl-layout-title a.title {
    
    padding: 20px 0 20px 0;
}
/*---------------------- Page content -----------------------------*/

/* Page content always responsive to the screen size*/
div.page-content {

	box-sizing: border-box;
}

div.page-content pre {
    
    white-space: pre;
}

/*Images size like paragraphs*/

div.page-content div.section img {
    
    max-width: 100%;

}

/*---------------------- Sphinx Directives -----------------------------*/

/*Color any Topic block */
.topic {
	
	background: lightgrey;
	padding: 10px 10px 0px 10px;
	border: 1px solid lightgrey;
}

.topic.contents {

	background:inherit;
}

.code-block-caption .caption-text {

	font-family: courier new;
}

/*Color + trophy icon for congrats blocks*/
.congrats .topic-title:before {

	content: "\f091"; /*code for the "trophy" icon. please refer to https://fontawesome.com/cheatsheet*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: darkgreen;
    font-size: 18px;
    padding-right: 0.5em;

}

.congrats {

	background:none;
	border:1px solid green;
	margin-bottom:10px
}

.technical .topic-title:before {

	content: "\f085"; /*please refer to https://fontawesome.com/cheatsheet*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: darkgreen;
    font-size: 18px;
    padding-right: 0.5em;

}

.technical {
	
	
	border:1px solid grey;
	margin-bottom:10px
}

/* --------------     Styling for AIMMS Syntax highlighter -------------------------------- */

/*Default styling for any AIMMS code*/
div.highlight-aimms div.highlight{

	background-color:white;
	font-family: "Courier New";
	color:black;
}

/*Styling for AIMMS blue built-in keywords, like if-then-else*/
div.highlight-aimms span.kr {

	color:blue;
}

/*Styling for AIMMS intrinsic red function and Predeclared Identifiers, like Execute()*/
div.highlight-aimms span.nb {

	color:brown;
}

/*Styling for AIMMS Named attributes (ex: SubsetOf, indexDomain, etc.), operators(ex: =) and punctuation (ex: ; or ,)*/
div.highlight-aimms span.na {
	
    color:rgb(88,88,88);
	font-weight:bold;    
} 
div.highlight-aimms span.o, 
div.highlight-aimms span.p {

	color:black;
	font-weight:bold;
}

/*Styling for AIMMS comments*/
div.highlight-aimms span.cm, 
div.highlight-aimms span.c1,
div.highlight-aimms span.c2 {

	color:green;
	font-style:italic;
}

/*Styling for AIMMS Strings + set elements*/
div.highlight-aimms span.s1,
div.highlight-aimms span.s2 {

	color:gray;
	font-style:italic;
}


/*Styling for AIMMS declaration identifier type (Parameter, Variable, etc.)*/
div.highlight-aimms span.kd {
    
    color: black;
    font-weight: bold;
}

/*Styling for AIMMS declared identifier name by default, if not part of the general list below*/
div.highlight-aimms span.nv {
    
    color:rgb(200,130,0);
}

/*--------  Styling for AIMMS declared identifier name by type (see AIMMS PowerPoint colour palette) --------------*/

/*Set*/
div.highlight-aimms span.n.n-Set {
    
    color:black;
}
/*Parameter*/
div.highlight-aimms span.n.n-Parameter {
    
    color:DarkCyan;
}
/*Element Parameter*/
div.highlight-aimms span.n.n-ElementParameter {
    
    color:DarkCyan;
}

/*Variable*/
div.highlight-aimms span.n.n-Variable {
    
    color:PaleVioletRed;
}
/*Constraint*/
div.highlight-aimms span.n.n-Constraint {
    
    color:black;
}
/*MathematicalProgram*/
div.highlight-aimms span.n.n-MathematicalProgram {
    
    color:black;
}

/*String Parameter*/
div.highlight-aimms span.n.n-StringParameter {
    
    color:black;  
}
/*Quantity*/
div.highlight-aimms span.n.n-Quantity {
    
    color:black;
}
/*DatabaseTable*/
div.highlight-aimms span.n.n-DatabaseTable {
    
    color:purple;
}
/*Index*/
div.highlight-aimms span.n.n-Index {
    
    color:black;
}
div.highlight-aimms span.n.n-Procedure {
    
    color:black;
}
/*Convention*/
div.highlight-aimms span.n.n-Convention {
    
    color:black;
}
.wy-nav-side {
    background: #f5f5f5 !important;
    font-family: 'Nunito', sans-serif;

}
.wy-menu-vertical a {
    color: #4f4f4f;
    
}
.wy-menu-vertical a:hover {
    background-color: #f2f2f2 !important;
    color: #009dd9;
}
.wy-menu-vertical a:hover span.toctree-expand {
    color: #009dd9;
}
.wy-menu-vertical li.toctree-l1.current>a {
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.06);
    border: none;
}
.wy-menu-vertical li.current>a {
    color: #009dd9;
}
.wy-menu-vertical li.current a:hover {
    background: none;
        color: #009dd9;
}
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend, p {
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
} 
.btn {
    border: 1px solid;
    display: inline-block;
    padding: 15px 30px;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: .4s background-color;
    transition: .4s background-color;
    color: #3f3f3f !important;
    border-color: #9B9B9B;
    line-height: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    background-color: #fff !important;
}
.btn:hover {
    background-color: #009dd9 !important;
    border-color: #009dd9;
    color: #fff !important;

}
.wy-menu-vertical li.current {
    background: none;
}
.wy-nav-content-wrap { 
background: none;
}
#content_home_page {
        width:100%;
        max-width:1000px;    /* A. max horizontal number of boxes =~ int(A/B) */
        margin:0 auto;
        text-align:left;    /* (left|center) align last boxes and the set vert. line */
        /*background-color:#AAA; */
    }
.box_home_page {
        font-family: futura-pt, sans-serif;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        overflow:hidden;      /* hide scroll bars */
        min-height: 100px;    /* B. change the vertical numb. of boxes */
        width: 170px;        /* C. change the horizontal numb. of boxes*/
        height: 200px;
        margin:40px;          /*  boxes separator */
        vertical-align: top; /* (top|bottom) align boxes */
        text-align:justify;
        padding:6pt;
        background-color:#fff;/*#c5c6c7;*/
        border-radius: 5px;
        margin: 10px 10px 50px;
        flex: 1 0 270px;
        min-width: 270px;
        box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.06);
        text-align: center !important;
        padding: 20px 10px;
}

.box_home_page:hover{
        opacity: 0.7;
        cursor: pointer;
        transition: all .2s ease-in-out;
}

.box_home_page h1{
        color: #000;
        font-size: 22px;
        font-family: 'Nunito', sans-serif;
        -webkit-font-smoothing: antialiased;
        margin-left: 10px !important;
        margin-right: 10px !important;
        margin-bottom:25px !important;
}
.box_home_page h1:hover { 
      color: #009dd9;
}

.box_home_page:hover h1{
        opacity: 1;
        /*color: #000081;*/
}

.box_home_page p{
        color : black ;
        font-style: italic;
}
#topo {
        background: url(http://techblog.aimms.com/fundotopo.jpg) center center no-repeat !important;   
        min-height: 400px;
        margin-bottom: 35px;
        background-size: cover !important;
}  
#topo h1 {
          padding: 140px 0 1% 0;
          align-content: center;
          font-family: 'Nunito', sans-serif;
          -webkit-font-smoothing: antialiased;
          font-size:1.8em;
          color: #fff;
          text-align: center;
        font-weight: 400;
          letter-spacing: 1px;
}
#topo h2 {
          color: #fff;
         font-family: 'Nunito', sans-serif;
          -webkit-font-smoothing: antialiased;
          font-size: 1.4em;
          text-align: center;
          font-weight: 300;
          letter-spacing: 1px;
}
@media screen and (max-width: 400px) {
    #topo h1 { 
        font-size: 1.3em;
        padding-left: 10px;
        padding-right: 10px;
    }
    #topo h2 {
        padding: 10px;
        font-size: 1.2em;
    }
}
.wy-menu-vertical li.toctree-l2.current>a {
    background: none !important;
}

.wy-menu-vertical a { 
font-size: 80%;
    color: #909aae;
    transition-duration: 0.4s;
}
.wy-menu-vertical a:visited { 
font-size: 80%;
    color: #909aae;
    transition-duration: 0.4s;
}
.wy-menu-vertical a:hover { 
font-size: 85%;
    color: #009dd9;
}
.wy-menu-vertical a:active { 
font-size: 85%;
    color: #009dd9;
}



.wy-menu-vertical li.current a {
    font-size: 12px;
}
.wy-side-nav-search>a img.logo {
   
}
.wy-side-nav-search {
    background-color: #f5f5f5;
    
}
.wy-side-nav-search input[type=text] {
    background-color: #f5f5f5;
    border-radius: 0px;
    -webkit-font-smoothing: antialiased;
    font-family: futura-pt, sans-serif;
    
}
a { 
color: #009dd9;}
a:visited{
    color: #009dd9;
}
a:hover {
    color: #909aae;
}
.whatever input[type=submit] {
    background-color: #009dd9 !important;
}
#body {
    font-family: 'Nunito', sans-serif !important;
    -webkit-font-smoothing: antialiased;
}
.wy-menu-vertical li.toctree-l1>a {
     text-transform: uppercase;
    letter-spacing: 0.1em;
}
.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a {
color: #7d879a;
}
.wy-menu-vertical li.toctree-l2.current>a {
    color: #009dd9;
}
.topomenu {
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 35% auto;
    min-height: 100px;
    position: relative;
    background-color: #fcfcfc;
    top: 0;
    width: 90%;
    z-index: 999 !important;
}
.menuprincipal {
        display: flex;
    align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        text-transform: uppercase;
        
    }
.menurodape {
        display: flex;
    align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        text-transform: uppercase;
        
    }
.menu-item {
        position: relative;
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    z-index: 1;
    }
.menu-item a {
        -webkit-font-smoothing: antialiased;
     font-family: 'Nunito', sans-serif;
        color: #909aae;
        font-size: 12px;
        letter-spacing: 1.5px;
        padding: 11px 0;
        display: block;
        position: relative;
        text-align: left;
        white-space: nowrap;
    }
.menu-item a:hover {
    color: #009dda !important;
}
    .main-menu {
        float: right;
    }
.footermenu {
    margin: auto;
}

.logo {
        max-width: 100%;
        float: right;
}
.logo a img {
    max-width: 220px;
    float: right;
    margin-right: 60px;
}

.wy-side-nav-search>a img.logo {
    display: none;
}

.box_home_page h1 {
    border: none !important;
    padding-top: 5px;
}

.box_home_page{
    background-color: #fff !important;
}

.rodape {
        margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto;
    min-height: 80px;
        margin-bottom: 64px;
    }
.logorodape {
        max-width: 100px;
    }
.botaofooter {
        position: relative;
    background: #15c2ff;
    color: #FFF !important;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    border: none;
   font-family: 'Nunito', sans-serif;

        -webkit-font-smoothing: antialiased;
    font-weight: 400;
}
.botaofooter a{
         font-family: futura-pt, sans-serif;
    font-weight: 400;
        font-size: 12px;
        color: #000;
        letter-spacing: 1px;
}
.linkfooter a {
        font-size: 11px;
        color: #adadad;
        margin-top: auto;
        margin-bottom: auto;
        letter-spacing: 1px;
}
.linkfooter a:hover { 
        color: #adadad;
}
.disclaimer a:hover {
        color: #009dd9;
}
.disclaimer a {  font-size: 11px;
        color: #000;
        margin-top: 10px;
        margin-bottom: auto;
        letter-spacing: 1px;
}
.socialfooter a {
    font-size: 24px;
    color: #000;
    display: none;
}
.socialfooter a:hover {
    color: #009dd9;
}
@media screen and (max-width: 500px) {
    .wy-nav-top a {
        color: #fff !important;
    }
    .rst-content {
        margin-top: 0;
    }
    .topomenu {
        grid-template-columns: auto;
        position: relative;
        top: 0;
    }
    .menuprincipal {
        padding: 20px 0 0 0;
    }
    .botaofooter {
        margin: 10px;
    }
    .menurodape { 
    margin: 0 -30px;
    }
}
.wy-side-nav-search img {
    margin: 15px 0;
    height: 100%;
    width: 100%; 
    background: none;
    border-radius: 0;
}
.botaofooter a:visited {
    color: #000;
} 
.whatever input[type=submit] {
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 12px; 
    letter-spacing: 1px;
}
.localtoc{font-size:.75rem;padding-top:1rem}
.localtoc .caption{padding-left:12px}
.localtoc .caption-text{font-size:.9rem;font-weight:700}
.localtoc>ul>li>a{display:none}
.localtoc ul{padding:0;list-style-type:none}
.localtoc li{padding-left:6px}
.localtoc a{display:block;text-decoration:none;color:inherit;margin-top:8px;padding-left:8px;line-height:1.1rem}
.localtoc a.current{padding-left:5px;border-left:3px solid;font-weight:700}
.localtoc {
    position: fixed;
    z-index: 999;
    left: 1500px;
    top: 300px;
}
.localtoc a {
    color: #909aae;
}
.localtoc a:hover {
    color: #15c2ff;
}
.localtoc a:visited {
    color: #909aae;
}
@media screen and (max-width: 1500px) {
    .localtoc {
        display: none;
    }
}
.icones img {
        max-width: 25px !important;
    margin-right: 10px;
}
.icones {
        max-width: 25px !important;
    margin-right: 10px;
}
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #5e5e5e;
    font-family: 'Courier New';
}
.rst-content .highlighted {
    background-color: #d5dbdc;
}
.localtoc a:focus {
    color: #15c2ff;
}
.localtoc a:focus-within {
    color: #15c2ff
}
form { 
    padding-top: 18px;
}
.localtoc a.current {
    color: #909aae;
}
.menu-item a:visited {
    color: #909aae;
}
.whatever input[type=submit] {
    border-radius: 0px;
}
.wy-side-nav-search img {
    margin: 0;
}
.wy-side-nav-search input[type=text] {
    margin-top: -20px;
}
.botaofooter a:visited {
    color: #000 !important;
}
/* localtoc adjustments */
@media screen and (max-width: 1700px) and (min-width: 1600px){
    .localtoc {
        left: 1460px;
    }
}
@media screen and (max-width: 1600px) {
    .localtoc {
        display: none;
    }
}
/*fix for small screens 

@media screen and (max-width: 380px) {
             .wy-grid-for-nav {
                width: 380px !important;
            }
}*/

/*fix by jessica*/



.wy-table-responsive 
table td {

/* !important prevents the common CSS stylesheets from overriding */

white-space: 
normal !important;

}
@media screen and (min-width:
767px) {
.wy-table-responsive {

overflow: 
visible !important;

}

}
/* code highlights */
div.highlight-aimms div.highlight {
    font-size: 12px;
    font-family: "Nunito";
}
code, .rst-content tt, .rst-content code {
    white-space: nowrap;
    max-width: 100%;
    background: #eaeaea;
    border: solid 1px #fafafa;
    font-size: 75%;
    padding: 0 5px;
    font-family: 'Nunito';
    color: #000;
    overflow-x: auto;
}

/* comments screensize fix */
@media screen and (max-width: 1280px) {
    div .whatever {
        max-width: 100%;
    }
}
/*color fix by jessica */
.rst-content .note {
    background: #E5F5FB;
}
.rst-content .note .admonition-title {
    background: #59BFE6;
}
.rst-content .warning {
    background: #FCEDEB;
}
.rst-content .warning .admonition-title {
    background: #EF8A80;
}
.rst-content .tip {
    background: #FFF8E5;
}
.rst-content .tip .admonition-title {
    background: #FFD659;
}
.rst-content .hint {
    background: #E9F6EF;
}
.rst-content .hint .admonition-title {
    background: #72CA97;
}
/* end of jessica fixes */ 
li {
    line-height:  1.5em;
}
.topic {
    background: #fafafa;
}
.rst-content {
    margin-top: 0px;
}
/* small screen fixes */
@media screen and (max-width: 1100px) {
    .topomenu {
        grid-template-columns: auto;
    }
    .wy-grid-for-nav {
        position: relative;
    }
    form {
        margin-top: 10px;
    }
}
 .wy-nav-top a {
        color: #fff !important;
}
.rst-content code.download {
    font-family: 'Nunito Sans', sans-serif;
  color: #009dd9;
}
.rst-content code.download:hover {
    
      color: #919baf;
}
.rst-content code {
    background: white;
    border: solid 1px lightgrey;
    padding: 5px;
}