/*
 * CSS hacks and small modification for my Sphinx website
 * :copyright: Copyright 2013-2016 Lilian Besson
 * :license: GPLv3, see LICENSE for details.
 */

 
/*----------------   Side Bar adjustments ------------------------*/

/* makes concise tree (line height) */
li.toctree-l2 span.link-wrapper a.reference.internal { 
    
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 1.3em;   
}

/* thin line btw Side Bar and content */

header.mdl-layout__drawer {
    
    padding-right: 5px;
}

/* Logo centered and rescaled */

a.title img.logo {
    
    margin: auto !important;
    max-width: 75%;
    display: block;
}

span.mdl-layout-title a.title {
    
    padding: 20px 0 20px 0;
}
/*---------------------- Page content -----------------------------*/

/* Page content always responsive to the screen size*/
div.page-content {

	box-sizing: border-box;
}
@media only screen and (max-width: 500px) {
    div.page-content blockquote {
        
        padding: 0;
        margin-right: 20px;
        margin-left: 20px;
    }
}
    
div.page-content pre {
    
    white-space: pre;
}

/*Images size like paragraphs*/

div.page-content div.section img {
    
    max-width: 100%;

}



/*---------------------- Sphinx Directives -----------------------------*/

/*Color any Topic block */
.topic {
	
	background: lightgrey;
	padding: 10px 10px 0px 10px;
	border: 1px solid lightgrey;
}

.topic.contents {

	background:inherit;
}

.code-block-caption .caption-text {

	font-family: courier new;
}

/*Color + trophy icon for congrats blocks*/
.congrats .topic-title:before {

	content: "\f091"; /*code for the "trophy" icon. please refer to https://fontawesome.com/cheatsheet*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: darkgreen;
    font-size: 18px;
    padding-right: 0.5em;

}

.congrats {

	background:none;
	border:1px solid green;
	margin-bottom:10px
}

.technical .topic-title:before {

	content: "\f085"; /*please refer to https://fontawesome.com/cheatsheet*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: darkgreen;
    font-size: 18px;
    padding-right: 0.5em;

}

.technical {
	
	
	border:1px solid grey;
	margin-bottom:10px
}

/* --------------     Styling for AIMMS Syntax highlighter -------------------------------- */

/*Default styling for any AIMMS code*/
div.highlight-aimms div.highlight{

	background-color:white;
	font-family: "Courier New";
	color:black;
    font-style: normal;
}

/*Styling for AIMMS blue built-in keywords, like if-then-else*/
div.highlight-aimms span.kr {

	color:blue;
}

/*Styling for AIMMS intrinsic red function and Predeclared Identifiers, like Execute()*/
div.highlight-aimms span.nb {

	color:brown;
}

/*Styling for AIMMS Named attributes (ex: SubsetOf, indexDomain, etc.), operators(ex: =) and punctuation (ex: ; or ,)*/
div.highlight-aimms span.na {
	
    color:rgb(88,88,88);
	font-weight:bold;    
} 
div.highlight-aimms span.o, 
div.highlight-aimms span.p {

	color:black;
	font-weight:bold;
}

/*Styling for AIMMS comments*/
div.highlight-aimms span.cm, 
div.highlight-aimms span.c1,
div.highlight-aimms span.c2 {

	color:green;
	font-style:italic;
}

/*Styling for AIMMS Strings + set elements*/
div.highlight-aimms span.s1,
div.highlight-aimms span.s2 {

	color:gray;
	font-style:italic;
}


/*Styling for AIMMS declaration identifier type (Parameter, Variable, etc.)*/
div.highlight-aimms span.kd {
    
    color: black;
    font-weight: bold;
}

/*Styling for AIMMS declared identifier name by default, if not part of the general list below*/
div.highlight-aimms span.nv {
    
    color:rgb(200,130,0);
}

/*--------  Styling for AIMMS declared identifier name by type (see AIMMS PowerPoint colour palette) --------------*/

/*Set*/
div.highlight-aimms span.n.n-Set {
    
    color:black;
}
/*Parameter*/
div.highlight-aimms span.n.n-Parameter {
    
    color:DarkCyan;
}
/*Element Parameter*/
div.highlight-aimms span.n.n-ElementParameter {
    
    color:DarkCyan;
}

/*Variable*/
div.highlight-aimms span.n.n-Variable {
    
    color:PaleVioletRed;
}
/*Constraint*/
div.highlight-aimms span.n.n-Constraint {
    
    color:black;
}
/*MathematicalProgram*/
div.highlight-aimms span.n.n-MathematicalProgram {
    
    color:black;
}

/*String Parameter*/
div.highlight-aimms span.n.n-StringParameter {
    
    color:black;  
}
/*Quantity*/
div.highlight-aimms span.n.n-Quantity {
    
    color:black;
}
/*DatabaseTable*/
div.highlight-aimms span.n.n-DatabaseTable {
    
    color:purple;
}
/*Index*/
div.highlight-aimms span.n.n-Index {
    
    color:black;
}
div.highlight-aimms span.n.n-Procedure {
    
    color:black;
}
/*Convention*/
div.highlight-aimms span.n.n-Convention {
    
    color:black;
}

