/*
 * CSS hacks and small modification for my Sphinx website
 * :copyright: Copyright 2013-2016 Lilian Besson
 * :license: GPLv3, see LICENSE for details.
 */

/* Colors and text decoration.
 For example, :black:`text in black` or :blink:`text blinking` in rST. */

.black {
    color: black;
}

.gray {
    color: gray;
}

.grey {
    color: gray;
}

.silver {
    color: silver;
}

.white {
    color: white;
}

.maroon {
    color: maroon;
}

.red {
    color: red;
}

.magenta {
    color: magenta;
}

.fuchsia {
    color: fuchsia;
}

.pink {
    color: pink;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.lime {
    color: lime;
}

.green {
    color: green;
}

.olive {
    color: olive;
}

.teal {
    color: teal;
}

.cyan {
    color: cyan;
}

.aqua {
    color: aqua;
}

.blue {
    color: blue;
}

.navy {
    color: navy;
}

.purple {
    color: purple;
}

.under {
    text-decoration: underline;
}

.over {
    text-decoration: overline;
}

.blink {
    text-decoration: blink;
}

.line {
    text-decoration: line-through;
}

.strike {
    text-decoration: line-through;
}

.it {
    font-style: italic;
}

.ob {
    font-style: oblique;
}

.small {
    font-size: small;
}

.large {
    font-size: large;
}

.smallpar {
    font-size: small;
}

/* .wy-nav-content {
    max-width: 1200px !important;
} */

h1, h2, h3 p{
  font-family:Arial,sans-serif;
}

h2 {
	
	border-bottom: 1px solid lightgrey;
}
.navbar {
  overflow: hidden;
  background-color: #000081;
  position: fixed !important;
  height: 70px;
  top: 0;
  width: 100%;
  left:-1px;
  max-width: 1500px
  color:white;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  font-weight:bold;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left:15px;
  padding-right:15px;
  text-decoration: none;
  font-size: 15px;
}

.navbar a.navbarimg img{

  padding-bottom: 2px;

}

.navbar a:hover {
  color: #F7F8F9;
  #text-decoration: underline;
  background: rgba(255,255,255,0.1);
}


div.sphinxsidebar{
	background-color: #F7F8F9;
	padding-left: 50px;
	left:-1px;
	top:70px;
	border-right: 1px inset;
}

div.sphinxsidebar h3{
	font-size: 16px;
	font-weight: bold;
	margin-top:10px;
}

div.sphinxsidebar h3 a{
	margin-top:10px;
	color:#444
}

div.sphinxsidebar ul li.toctree-l1{
	margin-bottom:20px;
}
div.document{
  overflow-x:hidden;
}
div.body{
	margin-left:40px;
	padding-left:10px;
	margin-top:60px;
  overflow-x:hidden;
  display:inline-block;
}
div.body h1{
  font-size: 240%;
  font-weight: bold;
}

div.body h2{
  font-size: 150%;
  font-weight: bold;
}
div.body p{
  line-height:200%;
}
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
  width:800px;
}

div.box h1, .wy-breadcrumbs li a{
  /*color:royalblue;*/
}

.wy-side-nav-search, .wy-menu-vertical a:active{
  /*background-color: royalblue*/
}

/*Color seealso blocks */

.admonition.seealso .admonition-title {
	
	background: #329932;
}

.admonition.seealso {
	
	background: #cce5cc;
	
}

/*Color any Topic block */
.topic {
	
	background: lightgrey;
	padding: 10px 10px 0px 10px;
	border: 1px solid lightgrey;
}

.topic.contents {

	background:inherit;
}

.code-block-caption .caption-text {

	font-family: courier new;
}

/*Color + trophy icon for congrats blocks*/
.congrats .topic-title:before {

	content: "\f091"; /*code for the "trophy" icon. please refer to https://fontawesome.com/cheatsheet*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: darkgreen;
    font-size: 18px;
    padding-right: 0.5em;

}

.congrats {

	background:none;
	border:1px solid green;
	margin-bottom:10px
}

.technical .topic-title:before {

	content: "\f085"; /*please refer to https://fontawesome.com/cheatsheet*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: darkgreen;
    font-size: 18px;
    padding-right: 0.5em;

}

.technical {
	
	
	border:1px solid grey;
	margin-bottom:10px
}


/*Default styling for any AIMMS code*/
div.highlight-aimms div.highlight{

	background-color:white;
	font-family: "Courier New";
	color:black;
}

/*Styling for AIMMS blue built-in keywords, like if-then-else*/
div.highlight-aimms span.kr {

	color:blue;
}

/*Styling for AIMMS intrinsic red function, like Execute()*/
div.highlight-aimms span.nb {

	color:brown;
}

/*Styling for AIMMS Named attributes (ex: SubsetOf, indexDomain, etc.), operators(ex: =) and punctuation (ex: ; or ,)*/
div.highlight-aimms span.na {
	
    color:rgb(88,88,88);
	font-weight:bold;    
} 
div.highlight-aimms span.o, 
div.highlight-aimms span.p {

	color:black;
	font-weight:bold;
}

/*Styling for AIMMS comments*/
div.highlight-aimms span.cm, 
div.highlight-aimms span.c1,
div.highlight-aimms span.c2 {

	color:green;
	font-style:italic;
}

/*Styling for AIMMS Strings + set elements*/
div.highlight-aimms span.s1,
div.highlight-aimms span.s2 {

	color:gray;
	font-style:italic;
}


/*Styling for AIMMS declaration identifier type (Parameter, Variable, etc.)*/
div.highlight-aimms span.kd {
    
    color: black;
    font-weight: bold;
}

/*Styling for AIMMS declared identifier name by default, if not part of the general list below*/
div.highlight-aimms span.nv {
    
    color:rgb(200,130,0);
}

/*--------  Styling for AIMMS declared identifier name by type (see AIMMS PowerPoint colour palette) --------------*/

/*Set*/
div.highlight-aimms span.n.n-Set {
    
    color:black;
}
/*Parameter*/
div.highlight-aimms span.n.n-Parameter {
    
    color:DarkCyan;
}
/*Element Parameter*/
div.highlight-aimms span.n.n-ElementParameter {
    
    color:DarkCyan;
}

/*Variable*/
div.highlight-aimms span.n.n-Variable {
    
    color:PaleVioletRed;
}
/*Constraint*/
div.highlight-aimms span.n.n-Constraint {
    
    color:black;
}
/*MathematicalProgram*/
div.highlight-aimms span.n.n-MathematicalProgram {
    
    color:black;
}

/*String Parameter*/
div.highlight-aimms span.n.n-StringParameter {
    
    color:black;  
}
/*Quantity*/
div.highlight-aimms span.n.n-Quantity {
    
    color:black;
}
/*DatabaseTable*/
div.highlight-aimms span.n.n-DatabaseTable {
    
    color:purple;
}
/*Index*/
div.highlight-aimms span.n.n-Index {
    
    color:black;
}
/*Convention*/
div.highlight-aimms span.n.n-Convention {
    
    color:black;
}

