.wy-nav-side {
    background: #f5f5f5 !important;
    font-family: 'Nunito Sans', sans-serif;
}

.wy-menu-vertical a {
    color: #4f4f4f;
}

.wy-menu-vertical a:hover {
    background-color: #f2f2f2 !important;
    color: #009dd9;
}

.wy-menu-vertical a:hover span.toctree-expand {
    color: #009dd9;
}

.wy-menu-vertical li.toctree-l1.current>a {
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.06);
    border: none;
}

.wy-menu-vertical li.current>a {
    color: #009dd9;
}

.wy-menu-vertical li.current a:hover {
    background: none;
    color: #009dd9;
}

h1,
h2,
.rst-content .toctree-wrapper p.caption,
h3,
h4,
h5,
h6,
legend,
p {
    font-family: futura-pt, sans-serif;
}

.btn {
    border: 1px solid;
    display: inline-block;
    padding: 15px 30px;
    font-size: 12px;
    font-family: futura-pt, sans-serif;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: .4s background-color;
    transition: .4s background-color;
    color: #3f3f3f !important;
    border-color: #9B9B9B;
    line-height: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    background-color: #fff !important;
}

.btn:hover {
    background-color: #009dd9 !important;
    border-color: #009dd9;
    color: #fff !important;
}

.wy-menu-vertical li.current {
    background: none;
}

.wy-nav-content-wrap {
    background: none;
}

#content_home_page {
    width: 100%;
    max-width: 1000px;
    /* A. max horizontal number of boxes =~ int(A/B) */
    margin: 0 auto;
    text-align: left;
    /* (left|center) align last boxes and the set vert. line */
    /*background-color:#AAA; */
}

.box_home_page {
    font-family: futura-pt, sans-serif;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    overflow: hidden;
    /* hide scroll bars */
    min-height: 100px;
    /* B. change the vertical numb. of boxes */
    width: 170px;
    /* C. change the horizontal numb. of boxes*/
    height: 200px;
    margin: 40px;
    /*  boxes separator */
    vertical-align: top;
    /* (top|bottom) align boxes */
    text-align: justify;
    padding: 6pt;
    background-color: #fff;
    /*#c5c6c7;*/
    border-radius: 5px;
    margin: 10px 10px 50px;
    flex: 1 0 270px;
    min-width: 270px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.06);
    text-align: center !important;
    padding: 20px 10px;
}

.box_home_page:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.box_home_page h1 {
    color: #000;
    font-size: 22px;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 25px !important;
}

.box_home_page h1:hover {
    color: #009dd9;
}

.box_home_page:hover h1 {
    opacity: 1;
    /*color: #000081;*/
}

.box_home_page p {
    color: black;
    font-style: italic;
}

#topo {
    background: url(https://techblog.aimms.com/fundotopo.jpg) center center no-repeat !important;
    min-height: 400px;
    margin-bottom: 128px;
    background-size: cover !important;
}

#topo h1 {
    padding: 140px 0 1% 0;
    align-content: center;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.8em;
    color: #fff;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
}

#topo h2 {
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.4em;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
}

.wy-menu-vertical li.toctree-l2.current>a {
    background: none !important;
}

.wy-menu-vertical a {
    font-size: 80%;
    color: #909aae;
    transition-duration: 0.4s;
}

.wy-menu-vertical a:visited {
    font-size: 80%;
    color: #909aae;
    transition-duration: 0.4s;
}

.wy-menu-vertical a:hover {
    font-size: 85%;
    color: #009dd9;
}

.wy-menu-vertical a:active {
    font-size: 85%;
    color: #009dd9;
}

.wy-menu-vertical li.current a {
    font-size: 12px;
}

.wy-side-nav-search>a img.logo {}

.wy-side-nav-search {
    background-color: #f5f5f5;
}

.wy-side-nav-search input[type=text] {
    background-color: #f5f5f5;
    border-radius: 0px;
    -webkit-font-smoothing: antialiased;
    font-family: futura-pt, sans-serif;
}

a {
    color: #009dd9;
}

a:visited {
    color: #009dd9;
}

a:hover {
    color: #909aae;
}

.whatever input[type=submit] {
    background-color: #009dd9 !important;
}

#body {
    font-family: futura-pt, sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

.wy-menu-vertical li.toctree-l1>a {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.wy-menu-vertical li.toctree-l2 a,
.wy-menu-vertical li.toctree-l3 a,
.wy-menu-vertical li.toctree-l4 a {
    color: #7d879a;
}

.wy-menu-vertical li.toctree-l2.current>a {
    color: #009dd9;
}

.topomenu {
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    min-height: 100px;
    position: fixed;
    background-color: #fcfcfc;
    top: 0;
    width: 90%;
    z-index: 9999;
}

.rst-content {
    margin-top: 180px;
}

.menuprincipal {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: uppercase;
}

.menurodape {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: uppercase;
}

.menu-item {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    z-index: 1;
}

.menu-item a {
    -webkit-font-smoothing: antialiased;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
    padding: 11px 0;
    display: block;
    position: relative;
    text-align: left;
    white-space: nowrap;
}

.menu-item a:visited {
    color: #909aae;
}

.main-menu {
    float: right;
}

.footermenu {
    margin: auto;
}

.logo {
    max-width: 220px;
    margin: auto;
}

.wy-side-nav-search>a img.logo {
    display: none;
}

.box_home_page h1 {
    border: none !important;
    padding-top: 5px;
}

.box_home_page {
    background-color: #fff !important;
}

.rodape {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto;
    min-height: 80px;
    margin-bottom: 64px;
}

.logorodape {
    max-width: 100px;
}

.botaofooter {
    position: relative;
    background: #15c2ff;
    color: #FFF !important;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

h1,
h2,
.rst-content .toctree-wrapper p.caption,
h3,
h4,
h5,
h6,
legend,
p {
    font-family: 'Nunito Sans', sans-serif;
}

.botaofooter a {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #000;
    letter-spacing: 1px;
}

.linkfooter a {
    font-size: 11px;
    color: #adadad;
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: 1px;
}

.linkfooter a:hover {
    color: #adadad;
}

.disclaimer a:hover {
    color: #009dd9;
}

.disclaimer a {
    font-size: 11px;
    color: #000;
    margin-top: 10px;
    margin-bottom: auto;
    letter-spacing: 1px;
}

.socialfooter a {
    font-size: 24px;
    color: #000;
    display: none;
}

.socialfooter a:hover {
    color: #009dd9;
}

@media screen and (max-width: 500px) {
    .wy-nav-top a {
        color: #fff !important;
    }
    .rst-content {
        margin-top: 0;
    }
    .topomenu {
        grid-template-columns: auto;
        position: relative;
        top: 0;
    }
    .menuprincipal {
        padding: 20px 0 0 0;
    }
    .botaofooter {
        margin: 10px;
    }
    .menurodape {
        margin: 0 -30px;
    }
}

.wy-side-nav-search img {
    margin: 15px 0;
    height: 100%;
    width: 100%;
    background: none;
    border-radius: 0;
}

.botaofooter a:visited {
    color: #000;
}

.whatever input[type=submit] {
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.localtoc {
    font-size: .75rem;
    padding-top: 1rem
}

.localtoc .caption {
    padding-left: 12px
}

.localtoc .caption-text {
    font-size: .9rem;
    font-weight: 700
}

.localtoc>ul>li>a {
    display: none
}

.localtoc ul {
    padding: 0;
    list-style-type: none
}

.localtoc li {
    padding-left: 6px
}

.localtoc a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin-top: 8px;
    padding-left: 8px;
    line-height: 1.1rem
}

.localtoc a.current {
    padding-left: 5px;
    border-left: 3px solid;
    font-weight: 700
}

.localtoc {
    position: fixed;
    z-index: 999;
    left: 1500px;
    top: 300px;
}

.localtoc a {
    color: #909aae;
}

.localtoc a:hover {
    color: #15c2ff;
}

.localtoc a:visited {
    color: #909aae;
}

@media screen and (max-width: 1500px) {
    .localtoc {
        display: none;
    }
}

.icones img {
    max-width: 25px !important;
    margin-right: 10px;
}

.icones {
    max-width: 25px !important;
    margin-right: 10px;
}

.rst-content tt.literal,
.rst-content tt.literal,
.rst-content code.literal {
    color: #5e5e5e;
}

.rst-content .highlighted {
    background-color: #d5dbdc;
}

.localtoc a:focus {
    color: #15c2ff;
}

.localtoc a:focus-within {
    color: #15c2ff
}

h1,
h2,
.rst-content .toctree-wrapper p.caption,
h3,
h4,
h5,
h6,
legend,
p {
    font-family: 'Nunito Sans', sans-serif !important;
}

form {
    padding-top: 18px;
}

.localtoc a.current {
    color: #909aae;
}

.menu-item a:visited {
    color: #009dd9;
}

.whatever input[type=submit] {
    border-radius: 0px;
}

.wy-side-nav-search img {
    margin: 0;
}

.wy-side-nav-search input[type=text] {
    margin-top: -20px;
}

.botaofooter a:visited {
    color: #000 !important;
}


/* override table width restrictions */

@media screen and (min-width: 767px) {
    .wy-table-responsive table td {
        /* !important prevents the common CSS stylesheets from overriding */
        white-space: normal !important;
    }
    .wy-table-responsive {
        overflow: visible !important;
    }
}


/* colors for admonitions */


/* blue note */

div.admonition.note {
    background: #009dd9;
    opacity: .1
}

.admonition-title.note {
    background: #009dd9;
    opacity: .65
}


/* yellow tip */

div.admonition.tip {
    background: #ffc100;
    opacity: .1
}

.admonition-title.tip {
    background: #ffc100;
    opacity: .65
}


/*red warning */

div.admonition.warning {
    background: #e74c3c;
    opacity: .1
}

.admonition-title.warning {
    background: #e74c3c;
    opacity: .65
}


/* green example */

div.admonition.example {
    background: #27ae60;
    opacity: .1
}

.admonition-title.example {
    background: #27ae60;
    opacity: .65
}